body {
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
	color: #58595B;
}

.container {
	max-width: 280px;
	margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  position: relative;
  width:100%;
}

.margin_bottom {
	margin-bottom: 20px;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.right {
  right: 0px;
  width: 100px;
}

.left {
  left: 0px;
  width: 100px;
}

.bold {
	font-weight: 900;
}

.blue {
	
}

.orange {

}

.header {
	font-size: 20px;
	line-height: 40px;
}

.inline_block {
	display: inline-block;
}

.span_1 {
	width: 8.333333%;
}

.span_2 {
	width: 16.666667%;
}

.span_3 {
	width: 25%;
}

.span_4 {
	width: 33.333333%;
}

.span_5 {
	width: 41.666667%;
}

.span_6 {
	width: 50%;
}

.span_7 {
	width: 58.333333%;
}

.span_8 {
	width: 66.666667%;
}

.span_9 {
	width: 75%;
}

.span_10 {
	width: 83.333333%;
}

.span_11 {
	width: 91.666667%;
}

.span_12 {
	width: 100%;
}

#child_select select {
	min-width: 150px;
	border-width: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-color: #58595B; 
	font-size: 120%;
	height: 40px;
	line-height: 40px;
	color: #58595B;
	padding: 5px;
	float:right;

	/*dropdown icon change*/
/*  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-position-x: 124px;*/
}
#child_select select::-ms-expand { /* for IE 11 */
    /*display: none;*/
}

table.no-spacing {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
	border-top: 0;
}

#child_inputdata_table td {
  border: 2px solid #58595B;
  position: relative;
}

input {
	height: 50px;
	padding-top: 15px;
	padding-left: 7px;
	font-weight: 900;
	color: #58595B;
	font-size: 125%;
}

label, input {
  display: block;
  border: 0px solid #000;
}

label {
  font-size: 80%;
  color: #58595B;
  letter-spacing: 0em;
  top: 7px;
  left: 7px;
	position: absolute;
}
