<div>
	<div class="margin_bottom">
		<span class="bold header"> Select Child </span>
		<select id="child-select">
			{% if children %}
			{% for child in children %}
			<option id="{{child.id}}">{{child.name}}</option>
			{% endfor %}
			{% endif %}
		</select>
	</div>
	<form class="span_12" id="child_input_form" action="enterlog" method="POST" enctype="application/x-www-form-urlencoded">{% csrf_token%}
		<input type="hidden" id="selected-child-input" name="child-id">
		<table class="no-spacing span_12 child_inputdata_table">
			<tr>
				<td colspan="2">
					<input class="span_12" id="child_date" name="date-of-measurement" type="date" max="{{todays_date}}"/>
					<label for="child_date">Date of Measurement</label>
				</td>
			</tr>

			<tr>
				<td class="span_6">
					<input class="span_12" id="child_height" name="length" type="number" min="0" />
					<label for="child_height">Height/Length (cm)</label>
				</td>
				<td class="span_6">
					<input class="span_12" id="child_weight" name="weight" type="number" min="0" />
					<label for="child_weight">Weight (kg)</label>
				</td>
			</tr>
		</table>
		<table class="no-spacing span_12 child_inputdata_table">
			<tr>
				<td class="span_12">
					<input class="span_12" id="head_circumference" name="head-circumference" type="number" min="0" />
					<label for="head_circumference">Head Circumference</label>
				</td>
			</tr>
		</table>
		<table class="no-spacing span_12 child_inputdata_table">
			<tr>
				<td colspan="2">
					<input class="span_12" id="child_location" name="location" type="text"/>
					<label for="child_location">Location/Notes (<i>Optional</i>)</label>
				</td>
			</tr>
		</table>

		<div class="margin_top">
			<button type="reset" class="blue">
				Clear
			</button>
			<button type="submit" class="float_right orange">
				Submit
			</button>
		</div>
	</form>

</div>