<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>

  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/css/growth_plot.css">

<!--   <div style="background-color:#22AF73; color:white; padding:10px;">
    <img src="/static/img/assets/LogoWhite(NavBar).png">
  </div>
 -->

  {% include 'navigation.html' %}

  <div class="container">

    <div class="row">
      <div class="col-md-offset-3 col-md-6" style="padding:50px">  
        {% include 'log_entry_form.html'%}
      </div>
    </div>

    <div class="row">

      <div id="child-profile-display" class="col-md-12"></div>

      <!-- TODO: Pull charts into divs separated by M/F >/< 2years -->

      <div id="all-charts" style="margin-top:50px">

        <!-- #TODO: Table -->
<!--           <div class="margin_top">
            <table class="no-spacing standard">
              <tr>
                <th class="span_4"><div class="center">Date</div></th>
                <th class="span_4"><div class="center">Height (cm)</div></th>
                <th class="span_4"><div class="center">Weight (kg)</div></th>
              </tr>
              <tr>
                <td><div class="center">2000-05-01</div></td>
                <td><div class="center">90</div></td>
                <td><div class="center">20</div></td>
              </tr>
            </table>
          </div> -->

        </div>
      </div>
    </div>

  </div>

</body>
</html>

<script type="text/javascript">
  var standard_curves = {{ standard_curves|safe }};
  var children_json = {{ children_json|safe }};
</script>

<script>
  var currently_selected_child = $($('#child-select').children()[0]).attr("id");

  $(document).ready(function () {
    $('#selected-child-input').val(currently_selected_child);
    get_child_profile();
  });

  function get_child_profile () {
    var csrf_token = $.cookie('csrftoken');
    var query_data = {
      child_id : currently_selected_child,
      csrfmiddlewaretoken : csrf_token
    };
  //Set up AJAX request for graph data
  $.ajax({
    url: "/data",
    type: "POST",
    data: query_data,
    context: document.body
  }).done(function (data) {
    $('#child-profile-display').html(data);
  }).fail( function (error) {
    console.log(error.responseText);
  });
}

$('#child-select').change(function (e) {
  currently_selected_child = $(this.options[this.selectedIndex]).attr("id");
  $('#child-profile-display').empty();
  get_child_profile();
  $('#selected-child-input').val(currently_selected_child);
});

</script>