<!DOCTYPE html>
<html lang="en">
	
	<head>
		{% include 'head.html' %}
		<title>About</title>
		<link rel="stylesheet" type="text/css" href="../static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap_grid.css">
    <link rel="stylesheet" type="text/css" href="../static/css/growth_plot.css">
	</head>
	<body>
		{% include 'navigation.html' %}
		<div style="background-color:#F1F1F2; padding:15px 10px;">
		<!-- <img src="../static/assets/img/LogoWhite(NavBar).png"> -->

		
		<div class="container" style="background-color: white; height:100%; width:100%; padding: 2% 0%; margin-top: 102px">
			<div >
				<center>
					<img style="max-width: 400px;" class="img-responsive" src="../static/img/assets/logo_login.png" alt="logo">
				</center>
				<div class="row margin_top">
					<div class="col-md-6 left-column">
						<p>Your health care worker uses your child's measurements such as height/length, weight and head circumference(under 2) to ensure that he/she is growing in an appropriate manner. It is one of the signs of good general health and is used as a health screening tool.</p>
						<br>
						<p>You can also use these growth measurements, regardless of where it is obtained, to keep track of their numbers and even obtain their percentiles at different points over time.</p>
						<br>
					</div>

					<div class="col-md-6 right-column">
						<p>The information can be used for your own personal information and/or to share with your health care team.</p>
						<br>
						<p>This program uses the data from the World Health Organization Growth standards and references and plots it on the set 2 WHO growth curves. For more information on growth curves and measurements see whogrowthcharts.ca</p>
						<br>
					</div>
				</div>
			</div>

		</div>

</div>
<div style="padding: 10px 5%;">
<center>
<div class="row-md-1">
<p style="padding: 10px; font-size:2em; font-weight:5;">Brought to you by Vishal Avinashi, App4Kids Hackathon & the GrowthPlot Team</p>
</div>
<br>

<img style="width: 100%" class="img-responsive" src="../static/img/assets/About_Picture0.png" alt="logo">
<img style="width: 100%" class="img-responsive" src="../static/img/assets/About_Picture1.png" alt="logo">
<img style="width: 100%" class="img-responsive" src="../static/img/assets/About_Picture2.png" alt="logo">
</center>

</div>
<div style="background-color:#58595B; color:white; text-align:center">
<p>Copyright GrowthPlot 2015</p>
</div>
	</body>
</html>
