<!DOCTYPE html>
<html>
{% include 'head.html' %}
<body>

  <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/static/css/growth_plot.css">
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
  <script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/tableTools.js"></script>
  <link rel="stylesheet" type="text/css" href="/static/css/tabletools.css">

<!--   <div style="background-color:#22AF73; color:white; padding:10px;">
    <img src="/static/img/assets/LogoWhite(NavBar).png">
  </div>
-->

{% include 'navigation.html' %}

<div class="container">

  <div class="row">

    <div class="margin_top col-md-offset-3 col-md-6">
      <span class="bold header"> Select Child </span>
      <select id="child-select">
        {% if children %}
        {% for child in children %}
        <option id="{{child.id}}">{{child.name}}</option>
        {% endfor %}
        {% endif %}
      </select>
    </div>

    <div id="child-profile-display" class="row"></div>

    <div id="all-charts" style="margin-top:50px"></div>
  </div>
</div>

</div>

</body>
</html>

<script>
  var currently_selected_child = $($('#child-select').children()[0]).attr("id");

  $(document).ready(function () {
    $('#selected-child-input').val(currently_selected_child);
    get_child_profile();
  });

  function get_child_profile () {
    var csrf_token = $.cookie('csrftoken');
    var query_data = {
      child_id : currently_selected_child,
      csrfmiddlewaretoken : csrf_token
    };
  //Set up AJAX request for graph data
  $.ajax({
    url: "/data",
    type: "POST",
    data: query_data,
    context: document.body
  }).done(function (data) {
    $('#child-profile-display').html(data);
    
    var table = $('#growthplot-table').dataTable({        
      //dom: 'T<"clear">lfrtip',
      paging: false,
      searching : false,});
    
    var tableTools = new $.fn.dataTable.TableTools(table, {
     "buttons": ["copy", "csv", "xls", "pdf",{ "type": "print", "buttonText": "Print me!" }],
     "sSwfPath": "//cdn.datatables.net/tabletools/2.2.2/swf/copy_csv_xls_pdf.swf" });
    $(tableTools.fnContainer()).prependTo('#growthplot-table-div');

    $('#selected-child-input').val(currently_selected_child);
  }).fail( function (error) {
    console.log(error.responseText);
  });
}

$('#child-select').change(function (e) {
  currently_selected_child = $(this.options[this.selectedIndex]).attr("id");
  $('#child-profile-display').empty();
  get_child_profile();
  $('#selected-child-input').val(currently_selected_child);
});

</script>