  #chartdiv {
    width   : 100%;
    height    : 500px;
    font-size : 11px;
  }

  .amcharts-graph-p3 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  .amcharts-graph-p10 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  .amcharts-graph-p25 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  .amcharts-graph-p50 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  .amcharts-graph-p75 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  .amcharts-graph-p90 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  .amcharts-graph-p97 .amcharts-graph-stroke {
    stroke-dasharray: 500% ;
    -webkit-animation: css-effect 5s ease-out forwards;
    animation: css-effect 5s ease-out forwards;
  }

  @-webkit-keyframes css-effect {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }
  @keyframes css-effect {
    0% {
      stroke-dashoffset: 500%;
    }
    100% {
      stroke-dashoffset: 0%;
    }
  }