#login_form {
  background:rgba(255, 255, 255, 0.99); /*remove it after*/
  width: 100%;
  height: auto;
}

#login_form .child_inputdata_table td {
  height: 65px;
}

#login_form #child_input_form input,
#login_form #child_input_form select {
  padding-top: 20px;
}

#child_input_form input[type='checkbox'] {
  margin-right: 16px;
}

.checkbox-text {
  display: inline;
  font-size: 130%;
}