html {
  min-height: 100%;
}

body {
  background-color: #ffffff;
  color: ##22AF73;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  padding: 20px;
}

form, ul, li, input, label {
  box-sizing: border-box;
}

h1, p {
  color: #333;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 1.6em;
  margin: 0.5em 0 1em 0;
  text-align: center;
}

p {
  font-size: 80%;
}

label, input {
  display: block;
}

ul {
  background-color: #ffffff;
  border: 5px solid #888888;
  list-style-type: none;
  margin: 3em auto;
  padding: 0;
  max-width: 350px;
}

li {
  border-bottom: 1px solid #c8c8c8;
  margin-top: -1px;
  position: relative;
}

.checkbox, label {
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
  font-size: 70%;
  color: #aeaeae;
  letter-spacing: 0.03em;
  position: absolute;
  top: 10px;
  left: 10px;
  text-transform: uppercase;
}
.active label, input:focus + label {
  color: #0059a6;
  font-weight: bold;
  letter-spacing: -0.01em;
}

input, input:focus {
  background-color: transparent;
  border: none;
  color: #626262;
  font-size: 18px;
  margin: 9px 0 7px 0;
  margin: 0;
  padding: 2em 10px 10px 10px;
  outline: none;
  width: 100%;
}

input:focus {
  color: #000;
  background-color: #eeeeee;
  box-shadow: 0px 3px 4px -2px rgba(0, 0, 115, 0.25) inset;
}

label, input {
  transition: color 0.4s ease, background-color 0.1s ease-in-out;
}

.checkbox {
 
  left-margin:auto;
  right-margin: auto;
  position: absolute;

}


